@font-face {
    font-family: 'Monsterrat';
    src: url(./Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Glaho';
    src: url(./bpg_glaho.ttf);
}

@font-face {
    font-family: 'Katerina';
    src: url(./alk-katerina.ttf);
}

@font-face {
    font-family: 'Balaveri';
    src: url(./balavmtavr.ttf);
}

@font-face {
    font-family: 'Jura';
    src: url(./Jura-Bold.ttf);
}

@font-face {
    font-family: 'Tkt';
    src: url(./TKT-Bold.ttf);
}

:root{
    --activeColor: #007ff3;
}